<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- Enforces clean thread isolation by running separate parallel execution windows -->
<suite name="Dog API Full UI Sanity Suite" parallel="tests" thread-count="2" verbose="2">

    <!-- Configuration Run Thread 01: Execute in Google Chrome Engine -->
    <test name="Chrome Browser Sanity Suite Component">
        <parameter name="browser" value="chrome"/>
        <parameter name="env" value="DOG_API"/>
        <classes>
            <class name="tests.DogUI"/>
        </classes>
    </test>

    <!-- Configuration Run Thread 02: Execute in Mozilla Firefox Engine -->
    <test name="Firefox Browser Sanity Suite Component">
        <parameter name="browser" value="firefox"/>
        <parameter name="env" value="DOG_API"/>
        <classes>
            <class name="tests.DogUI"/>
        </classes>
    </test>

</suite>